<h2>Azure Storage Demo</h2>
<ul>
	<li><a asp-controller="Customers" asp-action="Index">Customers (Azure Tables)</a></li>
	<li><a asp-controller="Products" asp-action="Index">Products (Azure Tables)</a></li>
	<li><a asp-controller="Blobs" asp-action="Index">Product Images (Blobs)</a></li>
	<li><a asp-controller="Queue" asp-action="Index">Order Queue (Queues)</a></li>
	<li><a asp-controller="Files" asp-action="Index">Contracts (File Share)</a></li>
</ul>
