<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d1788afb-2254-4f5f-8826-94750f6da544/resourcegroups/AZ-JHB-RSG-VCGPMD-ST10091902-TER/providers/Microsoft.Web/sites/abc-retail-st10091902</ResourceId>
    <ResourceGroup>AZ-JHB-RSG-VCGPMD-ST10091902-TER</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://abc-retail-st10091902-evf8ascxfqdwc2f8.northeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>910fe2f8-3c13-4a55-bf28-03868e9dadd7</ProjectGuid>
    <MSDeployServiceURL>abc-retail-st10091902-evf8ascxfqdwc2f8.scm.northeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>abc-retail-st10091902</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>